---
interface Props {
  urlImage: string;
  hrefUrl?: string;
  title: string;
  description?: string;
  stylesCardContainer?: string;
  id?: string;
}

const {
  urlImage,
  hrefUrl = "#",
  title,
  description,
  stylesCardContainer = "",
  id,
} = Astro.props;
---

<a
  class="card-container"
  href={hrefUrl}
  style={stylesCardContainer}
  id={id}
  target={hrefUrl === "#" ? "" : "_blank"}
>
  <div class="card-image-container">
    <img src={urlImage} />
  </div>
  <div class="info-container">
    <p class="title cs-text-lg">{title}</p>
    {description && <p class="description">{description}</p>}
  </div>
</a>

<style>
  .card-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 4rem; /* Cambio de max-height a height */

    background-color: rgba(255, 255, 255, 1);
    /* background-image: radial-gradient(
        at 40% 0%,
        rgb(255, 255, 255) 0px,
        transparent 50%
      ),
      radial-gradient(
         at 70% 100%,
        rgb(255, 255, 255) 0px,
        transparent 50%
      ),
      radial-gradient(
        circle at 100% 0%,
        #c1f5cd 0px,
        transparent 20%
      ); */

    /* backdrop-filter: blur(80px); */
    border: 0;
    border-radius: 22px;
    /* overflow: hidden; */
    --tw-shadow: 0 0 5px 0 rgba(78, 105, 105, 0.1),
      0 2px 7px 0 rgba(78, 105, 105, 0.1),
      0 4px 4px -2px rgba(78, 105, 105, 0.1);
    box-shadow: var(--tw-shadow);
    .card-image-container {
      width: 30%;
      height: 100%; /* Ocupa toda la altura */
      /* background-color: var(--bg-blue-400); */
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 70%; /* Ajusta al 100% de altura */
        width: auto; /* Ancho automático */
        object-fit: cover; /* Mantiene proporción */
        max-width: 100%; /* Previene desbordamiento */
      }
    }

    .info-container {
      width: 70%;
      display: flex;
      padding-left: 0.5rem;
      flex-direction: column;
      justify-content: center;

      .title {
        font-weight: 700;
        margin-bottom: 0.5rem;
        line-height: 1.1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: -2px; /* más grande que el card */
      border-radius: 22px;
      background: linear-gradient(45deg, #77dbff, #ffffff, #ffffff, #88ffa4);
      filter: blur(22px);
      z-index: -1;
      opacity: 0.6;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 22px;
      border: 2.5px solid transparent;

      -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;

      background: linear-gradient(
          45deg,
          #62d1f9,
          #ffffff,
          #ffffff,
          #ffffff,
          #ffffff,
          #82fd9f
        )
        border-box;
      /* z-index: -1; */
    }
  }

  @media (width < 500px) {
    .card-container {
      .card-image-container {
        width: 15%;
        margin-left: 1.2rem;
      }
    }
  }
</style>
